<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <title>Home Page</title>
    </head>
    <body>
        <div id="navbar1">
            <ul>
                <li><a href="index.html">Home</a> </li>
                <li><a href="about.html" aria-selected="">About</a> </li>
                <li><a href="portfolio.html">Portfolio</a> </li>
                <li><a href="signin.html">Sign In</a> </li>
                <li><a href="signup.html">Sign Up</a> </li>
                <li><a href="contactme.html">Contact Me</a> </li>
            </ul>
            <!-- <button name="Active" role="link" type="button" 
            class="btn btn-primary btn-is-active btn-sm m-l-xs" 
            ng-click="activeRecord($event)" 
            aria-label="${Active records}">${Active}</button>
  
            <button name="Closed" role="link" type="button" 
            class="btn btn-primary btn-sm m-l-xs" 
            ng-click="ClosedRecord($event)" 
            aria-label="${Closed records}">${Closed}</button> -->
        </div>
        
        <div class="main" id="Home">
            <img src="Studio Ghibli Burn Sticker by TeaBag for iOS & Android _ GIPHY.gif" id="icon">
            <h1>Hi I'm <span style="font-family: Rosegoldia; src: url('Rosegoldia\ 400.otf'); font-weight: bolder;">Tosin</span></h1>
            <p>Blah blah blah blah blah blah blah blah blah blah.
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah.
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                Blah blah blah blah blah blah blah blah blah blah
                </p>
        </div>
        <footer>
            Terms and Conditions<br>
            Privacy Policy<br>
            Cookie Policy</p>
          </footer>
    </body>
</html>a Heading</h1>
        <p>This is a paragraph.</p>
        <span>It's a span</span>

    </body>
</html>
